@import '@arcanetechnology/react-ui-lib/lib/vars.scss';
@import 'app-vars.scss';

.heroSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 44px;
  margin-bottom: 56px;

  @media (max-width: $app-break-point) {
    flex-direction: column;
    gap: 46px;
    margin-top: 52px;
  }

  .content {
    width: 658px;

    @media (max-width: $app-break-point) {
      width: auto;
    }

    .heroText {
      @media (max-width: 1548px) {
        font-size: 5vw;
        line-height: 6.2vw;
      }

      @media (max-width: $app-break-point) {
        font-size: 80px;
        line-height: 96px;
      }

      @media (max-width: $mobile-width) {
        font-size: 40px;
        line-height: 48px;
      }
    }

    .subText {
      margin-top: 16px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #6C757D;

      @media (max-width: $mobile-width) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .input {
      margin-top: 48px;

      @media (max-width: $mobile-width) {
        margin-top: 32px;
      }
    }
  }

  .imageWrapper {
    margin-right: -120px;
    text-align: right;
    overflow: hidden;

    @media (max-width: $mobile-width) {
      margin-right: -24px;
    }

    >img {
      @media (max-width: 1666px) {
        width: 90%;
      }

      @media (max-width: $app-break-point) {
        width: 100%;
      }
    }
  }
}

.trustedBy {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-width) {
    flex-direction: column;
  }

  .text {
    margin-right: 158px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: rgba(52, 58, 64, 0.7);
    white-space: nowrap;

    @media (max-width: 1584px) {
      margin-right: 10vw;
      font-size: 1.5vw;
    }

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 16px;
      font-size: 12px;
      line-height: 16px;
    }
  }

  .image {
    @media (max-width: 1584px) {
      width: 75%;
      height: 75%;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  .imageMobile {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }

    @media (max-width: 381px) {
      width: 90%;
      height: 90%;
    }
  }
}

.featureListSection {
  margin-top: 120px;
}

.whatWeOfferSection {
  margin-top: 120px;

  .title {
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #090A0B;
    text-align: center;

    @media (max-width: $mobile-width) {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    }

    > p {
      @media (max-width: $mobile-width) {
        display: inline;
      }
    }
  }

  .subText {
    margin-top: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #2D3339;

    @media (max-width: $mobile-width) {
      margin-top: 8px;
      color: #6C757D;
    }
  }

  .input {
    margin: 94px auto 0 auto;
    max-width: 674px;

    @media (max-width: $mobile-width) {
      margin-top: 72px;
    }
  }
}