@import '@arcanetechnology/react-ui-lib/lib/vars.scss';
@import 'app-vars.scss';

.quoteSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 88px;

  .header {
    margin-top: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #343A40;
  }

  .text {
    margin-top: 24px;
    max-width: 968px;
    font-size: 24px;
    line-height: 32px;
    color: rgba(52, 58, 64, 0.7);
    text-align: center;

    @media (max-width: $mobile-width) {
      margin-top: 16px;
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.featureList {
  margin-top: 120px;
}

.productText {
  margin: 120px auto 0 auto;
  max-width: 566px;
}

.productText {
  margin: 120px auto 0 auto;
  max-width: 566px;
}

.bottomSection {
  margin: 120px auto 0 auto;
  max-width: 727px;

  .earlyAccessSignUpText {
    margin-top: 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #2D3339;

    @media (max-width: $mobile-width) {
      color: #6C757D;
    }
  }

  .input {
    margin-top: 48px;
  }
}