@import '@arcanetechnology/react-ui-lib/lib/vars.scss';

.featureSummaryItem {
  display: flex;
  justify-content: center;
  position: relative;
  flex: 1;

  &.small {
    .content {
      text-align: center;

      @media (max-width: $mobile-width) {
        margin-top: 40px;
        margin-bottom: 56px;
      }

      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
      }

      .text {
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
      }
    }

    &::after {
      top: 0px;

      @media (max-width: $mobile-width) {
        top: auto;
      }
    }
  }

  &:first-child {
    .content {
      @media (max-width: $mobile-width) {
        margin-top: 0px;
      }
    }
  }

  .content {
    max-width: 314px;

    @media (max-width: 1300px) {
      max-width: 18vw;
    }

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      margin-top: 72px;
      margin-bottom: 72px;
      align-items: center;
      max-width: 314px;
    }

    .link {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (max-width: $mobile-width) {
        align-items: center;
      }
    }

    a.link {
      &:hover {
        .title {
          text-decoration: underline;
        }
      }
    }

    .title {
      margin-top: 32px;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      color: #343A40;

      @media (max-width: 1300px) {
        font-size: 3vw;
      }

      @media (max-width: $mobile-width) {
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
      }
    }

    .text {
      margin-top: 16px;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      color: rgba(52, 58, 64, 0.7);

      @media (max-width: 1300px) {
        font-size: 2vw;
        line-height: 2.5vw;
      }

      @media (max-width: $mobile-width) {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }
    }
  }

  &::after {
    content: ".";
    font-size: 0px;
    position: absolute;
    top: 100px;
    right: 1px;
    bottom: 0px;
    width: 2px;
    background-color: #E5E5EA;

    @media (max-width: $mobile-width) {
      top: auto;
      bottom: 1px;
      left: 50%;
      right: auto;
      width: 314px;
      transform: translateX(-50%);
      height: 2px;
    }

    @media (max-width: 348px) {
      width: 80vw;
    }
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}