@import '@arcanetechnology/react-ui-lib/lib/vars.scss';

.page {
  padding: 60px 120px 0 120px;
  padding-bottom: 120px; // temporary

  @media (max-width: $mobile-width) {
    padding: 60px 24px 0 24px;
  }
}