@import '@arcanetechnology/react-ui-lib/lib/vars.scss';
@import 'app-vars.scss';

.reportPageHeader {
  box-sizing: border-box;
  margin: 0 -120px;
  height: 560px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $mobile-width) {
    margin: 0 -24px;
    height: 300px;
  }

  .content {
    .title {
      color: #FFFFFF;
    }

    .subtitle {
      color: #FFFFFF;
    }
  }
}