@import '@arcanetechnology/react-ui-lib/lib/vars.scss';
@import 'app-vars.scss';

.header {
  padding: 116px 0 0 149px;
  background-image: url(/the-friday-focus-header.png);
  background-position: top left;

  @media (max-width: $mobile-width) {
    padding: 64px 0 0 73px;
  }

  @media (max-width: 525px) {
    background-image: url(/the-friday-focus-header-mobile.png);
  }

  @media (max-width: 600px) {
    background-position: top left;
    background-repeat: no-repeat;
  }

  .content {
    max-width: 340px;

    @media (max-width: $mobile-width) {
      max-width: 130px;
    }

    .title {
      font-weight: 700;
      font-size: 80px;
      line-height: 90px;
      color: #FFFFFF;

      @media (max-width: $mobile-width) {
        font-size: 32px;
        line-height: 39px;
      }

      > strong {
        font-weight: 600;
      }
    }

    .subtitle {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;

      @media (max-width: $mobile-width) {
        margin-top: 8px;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}

.featureList {
  margin-top: 120px;
}